.cinema-mode {
  @apply
    fixed
    top-0
    left-0
    w-full
    h-full
    z-10
    transition
    duration-300
  ;
  background: rgba(#363636, .98);
  transform: translateX(-100%);
  transition-timing-function: cubic-bezier(.33,.01,.43,1);

  &_active {
    transform: translateX(0);
  }
}
