@import '../variables';

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;

  &__h2 {
    font-size: 18px;
    font-weight: 600;
    color: $text-primary;
  }

  &__img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
}
