.sidebar {
  &__wrapper {
    @apply
      fixed
      top-0
      w-full
      h-full
      bg-white
      transition
      ease-out
      duration-300
      transform
      z-40
    ;
    max-height: 100%;
    overflow-y: auto;

    &_right {
      @apply
        right-0
        translate-x-full
        rounded-l-xl
      ;
    }

    &_left {
      @apply
        left-0
        -translate-x-full
        rounded-r-xl
      ;
    }

    &_bottom {
      @apply
        right-0
        left-0
        bottom-0
        mx-auto
        rounded-t-xl
        translate-y-full
      ;
      top: inherit;
      height: 320px;
      max-width: 1280px;

      @media (max-width: 480px) {
        width: 90% !important;
      }
    }

    &_active {
      @apply translate-x-0;
      @apply translate-y-0;
    }
  }

  &__layout {
    @apply
      fixed
      left-0
      top-0
      h-full
      w-full
      z-30
    ;
    background: rgba(54, 54, 54, .80);
  }
}
